* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #434c51;
  font-family: "Nunito", sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 124rem;
  width: 100%;
  padding: 0 2.2rem;
  margin: 0 auto;
}

.subparagraph {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.subsubparagraph {
  font-size: 1rem;
  line-height: 1;
}

button {
  background-color: #e5e7e6;
  border-radius: 6.6rem;
  color: #32373a;
  width: 20rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.2;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: #ff8e00;
}
button.selected {
  background-color: #ff8e00;
}

a.button {
  background-color: #e5e7e6;
  border-radius: 6.6rem;
  color: #32373a;
  width: 20rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.2;
  transition-duration: 0.4s;
  cursor: pointer;
}
a.button:hover {
  background-color: #ff8e00;
}
a.button.selected {
  background-color: #ff8e00;
}

.push-to-right {
  text-align: right;
}

.confirmation-buttons {
  text-align: right;
}

.cancel {
  margin-right: 1rem;
}

a.cancel {
  background-color: rgba(0, 0, 0, 0);
  border: 0.2rem solid #c21a24;
  border-radius: 6.6rem;
  color: #c21a24;
  width: 12rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.2;
  transition-duration: 0.4s;
  cursor: pointer;
}
a.cancel:hover {
  background-color: #c21a24;
  color: #e5e7e6;
}

a.confirm {
  background-color: rgba(0, 0, 0, 0);
  border: 0.2rem solid #077b43;
  border-radius: 6.6rem;
  color: #077b43;
  width: 12rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.2;
  transition-duration: 0.4s;
  cursor: pointer;
}
a.confirm:hover {
  background-color: #077b43;
  color: #e5e7e6;
  border: none;
}

input {
  background-color: #e5e7e6;
  border: none;
  border-radius: 3.3rem;
}

.input__popup {
  padding: 1.3rem 16.6rem;
  padding-left: 2rem;
  border-radius: 0 3.3rem 3.3rem 3.3rem;
}

.overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  z-index: 1;
}
.overlay.open {
  display: none;
}

.popup-edit__header {
  color: #32373a;
  background-color: #ff8e00;
  height: 4rem;
  border-top-left-radius: 3.3rem;
  border-top-right-radius: 3.3rem;
}
.popup-edit__header__exit {
  padding-bottom: 0.8rem;
  cursor: pointer;
}
.popup-edit__header__exit span {
  display: block;
  background-color: #32373a;
  width: 2.5rem;
  height: 0.4rem;
  border-radius: 6.6rem;
}
.popup-edit__header__exit span:nth-of-type(1) {
  transform: rotate(45deg) translateY(0.7rem) translateX(0.2rem);
}
.popup-edit__header__exit span:nth-of-type(2) {
  transform: rotate(-45deg) translateY(-0.1rem) translateX(-0.4rem);
}

.popup-edit-product {
  display: block;
  z-index: 2;
  position: fixed;
  width: 90rem;
  height: 77rem;
  background-color: #32373a;
  border-radius: 3.3rem;
  transition: 0.5s;
}
.popup-edit-product__container {
  padding-top: 0.8rem;
  padding-left: 3.3rem;
  padding-right: 3.3rem;
}
.popup-edit-product__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-edit-product__header-exit {
  padding-bottom: 0.8rem;
  cursor: pointer;
}
.popup-edit-product__header-exit span {
  display: block;
  background-color: #e5e7e6;
  width: 2.5rem;
  height: 0.4rem;
  border-radius: 6.6rem;
}
.popup-edit-product__header-exit span:nth-of-type(1) {
  transform: rotate(45deg) translateY(0.7rem) translateX(0.2rem);
}
.popup-edit-product__header-exit span:nth-of-type(2) {
  transform: rotate(-45deg) translateY(-0.1rem) translateX(-0.4rem);
}
.popup-edit-product__body {
  padding-top: 1.3rem;
  color: #e5e7e6;
}
.popup-edit-product.open {
  display: none;
}

.popup {
  display: block;
  z-index: 2;
  position: fixed;
  width: 50.5rem;
  height: 11rem;
  background-color: #32373a;
  border-radius: 3.3rem;
  transition: 0.5s;
}
.popup__container {
  padding-top: 0.8rem;
  padding-left: 3.3rem;
  padding-right: 3.3rem;
}
.popup__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup__header-error {
  color: #e5e7e6;
  background-color: #c21a24;
  height: 4rem;
  border-top-left-radius: 3.3rem;
  border-top-right-radius: 3.3rem;
}
.popup__header-exit {
  padding-bottom: 0.8rem;
  cursor: pointer;
}
.popup__header-exit span {
  display: block;
  background-color: #e5e7e6;
  width: 2.5rem;
  height: 0.4rem;
  border-radius: 6.6rem;
}
.popup__header-exit span:nth-of-type(1) {
  transform: rotate(45deg) translateY(0.7rem) translateX(0.2rem);
}
.popup__header-exit span:nth-of-type(2) {
  transform: rotate(-45deg) translateY(-0.1rem) translateX(-0.4rem);
}
.popup__body {
  padding-top: 1.3rem;
  color: #e5e7e6;
}
.popup__body__group {
  display: flex;
  justify-content: "" "";
  align-items: flex-start;
  gap: 12rem;
}
.popup__body__edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.popup__body__edit__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8e00;
  color: #32373a;
  width: 17.8rem;
  height: 4rem;
  border-top-left-radius: 3.3rem;
  border-top-right-radius: 3.3rem;
}
.popup.open {
  display: none;
}

.edit-user-group {
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: "";
  gap: 5rem;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #ff8e00;
  color: #32373a;
  position: fixed;
  top: 0;
  z-index: 2;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  margin-bottom: 5rem;
}
.topbar__burgermenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4rem;
  cursor: pointer;
}
.topbar__burgermenu span {
  display: block;
  background-color: #32373a;
  width: 2.5rem;
  height: 0.4rem;
  border-radius: 6.6rem;
  transition: 0.5s ease-in-out;
}
.topbar__logoutbutton a {
  display: flex;
  justify-content: "";
  align-items: center;
  gap: 0.6rem;
  color: #32373a;
  text-decoration: none;
}

.topbar.open span:nth-of-type(1) {
  width: 0;
  height: 0;
}
.topbar.open span:nth-of-type(2) {
  transform: rotate(45deg) translateX(0.2rem) translateY(0.7rem);
}
.topbar.open span:nth-of-type(3) {
  transform: rotate(-45deg) translateX(-0.1rem) translateY(-0.3rem);
}
.topbar.open span:nth-of-type(4) {
  width: 0;
  height: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: center;
  gap: 5rem;
  background-color: #32373a;
  position: fixed;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  overflow-x: hidden;
  padding-top: 6rem;
  transition: 0.5s;
  width: 0rem;
  height: 100%;
  z-index: 1;
}
.sidebar .userinfo {
  display: flex;
  gap: 3rem;
}
.sidebar .userinfo__left .circle {
  background-color: #ff8e00;
  width: 7.7rem;
  height: 7.7rem;
  border-radius: 50%;
}
.sidebar .userinfo__left .circle::after {
  content: url("../../assets/images/user-image-navbar.png");
  position: relative;
  top: "";
  right: "";
  bottom: 0.5rem;
  left: 0.5rem;
}
.sidebar .userinfo__right {
  color: #e5e7e6;
  white-space: nowrap;
}
.sidebar__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 3rem;
}
.sidebar__footer {
  position: absolute;
  top: "";
  right: "";
  bottom: 0;
  left: "";
  width: 100%;
  background-color: #ff8e00;
  color: #32373a;
  padding-top: 2rem;
  padding-left: 0.5rem;
  white-space: nowrap;
}
.sidebar__footer .companyname {
  margin-left: 2rem;
}
.sidebar__footer .year {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.sidebar.open {
  width: 33rem;
}

.navbody {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: 0.5s;
}

.navbody.open {
  margin-left: 66rem;
}

.login-footer {
  position: fixed;
  top: "";
  right: "";
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #32373a;
  color: #e5e7e6;
}
.login-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  margin-bottom: 10rem;
}
.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner img {
  width: 50%;
}
.banner__login {
  background-color: #32373a;
  padding: 5rem 5rem 12rem 5rem;
  border-radius: 3.3rem;
}
.banner__login i {
  color: #ff8e00;
}
.banner__login h3 {
  color: #e5e7e6;
}
.banner__login input {
  padding: 1.5rem 7rem;
}
.banner__login__form {
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: center;
  gap: 3rem;
}
.banner__login__user div {
  display: flex;
  justify-content: "";
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.banner__login__password div {
  display: flex;
  justify-content: "";
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.productSection {
  background-color: #32373a;
  padding: 0rem 3rem 3rem 3rem;
  max-width: 1000rem;
  height: 80rem;
  border-radius: 3rem;
  margin-top: 5rem;
}
.productSection .productsText {
  display: flex;
  justify-content: space-evenly;
  align-items: "";
  padding: 3rem 0rem 3rem 0rem;
}
.productSection .productsText .View {
  color: #e5e7e6;
}
.productSection .productsText .View .ProductsButton {
  display: flex;
  justify-content: "";
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #e5e7e6;
  transition-duration: 0.4s;
  cursor: pointer;
}
.productSection .productsText .View .ProductsButton:hover {
  color: #ff8e00;
}
.productSection .productsText .Add {
  color: #e5e7e6;
}
.productSection .productsText .Add .ProductsButton {
  display: flex;
  justify-content: "";
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #e5e7e6;
  transition-duration: 0.4s;
  cursor: pointer;
}
.productSection .productsText .Add .ProductsButton:hover {
  color: #ff8e00;
}
.productSection .Type {
  position: sticky;
  border-collapse: collapse;
}
.productSection .Type th {
  background-color: #ff8e00;
  border-left: 0.3rem solid #32373a;
}
.productSection .Type .th-id {
  width: 7.1rem;
}
.productSection .Type .th-product {
  width: 14.1rem;
}
.productSection .Type .th-desc {
  width: 23.4rem;
}
.productSection .Type .th-ctg {
  width: 14.1rem;
}
.productSection .Type .th-attr {
  width: 21rem;
}
.productSection .Type .th-amnt {
  width: 8.2rem;
}
.productSection .Type .th-loc {
  width: 15.3rem;
}
.productSection .Type .th-act {
  width: 16.1rem;
}
.productSection .Type .IdBorder {
  background-color: #ff8e00;
  border-top-left-radius: 3.3rem;
}
.productSection .Type .ActionBorder {
  background-color: #ff8e00;
  border-top-right-radius: 3.3rem;
}
.productSection .table-box {
  height: 60rem;
  position: sticky;
  overflow: auto;
}
.productSection .table-box .ViewProductsTable {
  display: block;
  background-color: #e5e7e6;
  text-align: center;
  border-collapse: collapse;
  border: 0.3rem solid #32373a;
  white-space: nowrap;
}
.productSection .table-box .ViewProductsTable td {
  padding: 5rem 3rem;
  border-collapse: collapse;
  border: 0.3rem solid #32373a;
}
.productSection .table-box .ViewProductsTable .Entry {
  border-radius: 3.3rem;
}

.AddProductSection {
  background-color: #32373a;
  padding: 0rem 3rem 3rem 3rem;
  max-width: auto;
  border-radius: 3rem;
  margin-top: 7rem;
  display: none;
}
.AddProductSection .AddProductsText {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0rem 3rem 0rem;
}
.AddProductSection .AddProductsText .AddView {
  color: #e5e7e6;
}
.AddProductSection .AddProductsText .AddView .AddProductsButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #e5e7e6;
  transition-duration: 0.4s;
  cursor: pointer;
}
.AddProductSection .AddProductsText .AddView .AddProductsButton:hover {
  color: #ff8e00;
}
.AddProductSection .AddProductsText .AddProductsClick {
  color: #e5e7e6;
}
.AddProductSection .AddProductsText .AddProductsClick .AddProductsButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #e5e7e6;
  transition-duration: 0.4s;
  cursor: pointer;
}
.AddProductSection .AddProductsText .AddProductsClick .AddProductsButton:hover {
  color: #ff8e00;
}
.AddProductSection h4 {
  background-color: #ff8e00;
  display: flex;
  justify-content: center;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  max-width: 20rem;
  padding: 0.7rem 0rem;
}
.AddProductSection .AddProductEntry {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}
.AddProductSection .AddProductEntry .TopText {
  box-sizing: border-box;
  padding: 1.5rem 25rem;
  padding-left: 1.5rem;
  border-top-left-radius: 0rem;
  width: 100%;
  resize: none;
}
.AddProductSection .EntryDescription {
  margin-bottom: 3rem;
}
.AddProductSection .EntryDescription .DescriptionText {
  background-color: #e5e7e6;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  border-radius: 3.3rem;
  border-top-left-radius: 0rem;
}
.AddProductSection .EntryAttributes {
  margin-bottom: 3rem;
}
.AddProductSection .EntryAttributes .AttributesText {
  background-color: #e5e7e6;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  border-radius: 3.3rem;
  border-top-left-radius: 0rem;
}
.AddProductSection .AddProductEntries {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}
.AddProductSection .AddProductEntries .BottomText {
  box-sizing: border-box;
  padding: 1.5rem 25rem;
  padding-left: 1.5rem;
  border-top-left-radius: 0rem;
  width: 100%;
  resize: none;
}

.EditProductSection {
  background-color: #32373a;
  padding: 0rem 3rem 3rem 3rem;
  max-width: auto;
  border-radius: 3rem;
  margin-top: 7rem;
}
.EditProductSection .EditProductsText {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0rem 3rem 0rem;
}
.EditProductSection .EditProductsText .EditView {
  color: #e5e7e6;
}
.EditProductSection .EditProductsText .EditView .EditProductsButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #e5e7e6;
  transition-duration: 0.4s;
  cursor: pointer;
}
.EditProductSection .EditProductsText .EditView .EditProductsButton:hover {
  color: #ff8e00;
}
.EditProductSection .EditProductsText .EditProductsClick {
  color: #e5e7e6;
}
.EditProductSection .EditProductsText .EditProductsClick .EditProductsButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #e5e7e6;
  transition-duration: 0.4s;
  cursor: pointer;
}
.EditProductSection .EditProductsText .EditProductsClick .EditProductsButton:hover {
  color: #ff8e00;
}
.EditProductSection h4 {
  background-color: #ff8e00;
  display: flex;
  justify-content: center;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  max-width: 20rem;
  padding: 0.7rem 0rem;
}
.EditProductSection .EditProductEntry {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}
.EditProductSection .EditProductEntry .EditTopText {
  box-sizing: border-box;
  padding: 1.5rem 25rem;
  padding-left: 1.5rem;
  border-top-left-radius: 0rem;
  width: 100%;
  resize: none;
}
.EditProductSection .EditEntryDescription {
  margin-bottom: 3rem;
}
.EditProductSection .EditEntryDescription .EditDescriptionText {
  background-color: #e5e7e6;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  border-radius: 3.3rem;
  border-top-left-radius: 0rem;
}
.EditProductSection .EditEntryAttributes {
  margin-bottom: 3rem;
}
.EditProductSection .EditEntryAttributes .EditAttributesText {
  background-color: #e5e7e6;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  border-radius: 3.3rem;
  border-top-left-radius: 0rem;
}
.EditProductSection .EditProductEntries {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}
.EditProductSection .EditProductEntries .EditBottomText {
  box-sizing: border-box;
  padding: 1.5rem 25rem;
  padding-left: 1.5rem;
  border-top-left-radius: 0rem;
  width: 100%;
  resize: none;
}

.user-info {
  display: none;
  width: 61rem;
  height: 51.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #32373a;
  color: #e5e7e6;
  border-radius: 3.3rem;
}
.user-info .circle {
  background-color: #ff8e00;
  width: 7.7rem;
  height: 7.7rem;
  border-radius: 50%;
}
.user-info .circle::after {
  content: url("../../assets/images/user-image-navbar.png");
  position: relative;
  top: "";
  right: "";
  bottom: 0.5rem;
  left: 0.5rem;
}
.user-info__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-info__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-user-popup {
  display: grid;
  grid-column: 2;
  grid-row: 1;
}/*# sourceMappingURL=main.css.map */