.login-body {
  @include flexItem(center, center);
}

.banner {
  margin-bottom: 10rem;

  .container {
    @include flexItem(space-between, center);  
  }

  img {
    width: 50%;
  }

  &__login {
    // html leftover
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // gap: 3rem;
    background-color: $darker;
    padding: 5rem 5rem 12rem 5rem;
    border-radius: 3.3rem;

    i {
      color: $accent;
    }

    h3 {
      color: $light;
    }

    input {
      padding: 1.5rem 7rem;
    }

    &__form {
      @include flexCol('', center);
      gap: 3rem;
    }

    &__user {
      div {
        @include flexItem('', center);
        gap: 1rem;
        margin-bottom: 2rem;
      }
    }

    &__password {
      div {
        @include flexItem('', center);
        gap: 1rem;
        margin-bottom: 2rem;
      }
    }
  }
}