.sections {
  width: 106.7rem;
  height: 81.4rem;
  background-color: $darker;
  border-radius: 3.3rem;

  .tab-box {
    @include flexItem(space-evenly, center);
    margin-top: 2rem;
  }

  .content_box {
    .content {
      // padding: 3rem;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .table-wrapper {
    border-top-left-radius: 3.3rem;
    border-bottom-left-radius: 3.3rem;
    max-height: 66rem;
    overflow-y: scroll;
    margin: 3rem;
    width: 94%;

    table {
      table-layout: fixed;
      border-spacing: 0rem;
      padding: 0rem;
    }

    &.active {
      display: block;
    }

    &.inactive {
      display: none;
    }
  }

  .products-table {
    background-color: $light;
    border-collapse: separate;
    border-spacing: 0rem;
    text-align: center;
    width: 100%;

    th {
      position: sticky;
      top: 0rem;
      background-color: $accent;
    }

    th, td {
      border: 1px solid $darker;
      padding: .8rem;
    }

    .top-left {
      border-top-left-radius: 3.3rem;
    }

    .top-right {
      border-top-right-radius: 3.3rem;
    }
  }
}

.products-form {
  .form-group {
    @include flexItem('', '');
    gap: 12rem;
  }

  .form-body {
    @include flexCol();
  }

  .form-title {
    @include flexItem(center, center);
    background-color: $accent;
    color: $darker;
    @include wh(17.8rem, 4rem);
    border-top-left-radius: 3.3rem;
    border-top-right-radius: 3.3rem;
  }

  .form-input {
    padding: 1.3rem 16.6rem;
    padding-left: 2rem;    
    border-radius: 0 3.3rem 3.3rem 3.3rem;
  }

  .push-to-right {
    position: fixed;
    right: 20rem;
    bottom: 11rem;
  }

  &.active {
    @include flexCol(center, center);
    gap: 5rem;
    margin: 3rem;
  }

  &.inactive {
    display: none;
  }
}

.responseMessage {
  background-color: red;
  color: magenta;
}