.login-footer {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 9rem;
    }

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: $darker;
    color: $light;
}