.table-box-buttons {
  border: none;
  width: auto;

  &:hover {
    color: $accent;
    background-color: $light;
  }
}

button {
  background-color: $light;
  // border: none;
  border-radius: 6.6rem;
  color: $darker;
  width: 20rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.2;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
      background-color: $accent;
  }

  &.selected {
      background-color: $accent;
  }
}

a.button {
  background-color: $light;
  // border: none;
  border-radius: 6.6rem;
  color: $darker;
  width: 20rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.2;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
      background-color: $accent;
  }

  &.selected {
      background-color: $accent;
  }
}

.push-to-right {
  text-align: right;
}

.confirmation-buttons {
  // display: flex;
  // gap: 2rem;
  text-align: right;
}

.cancel {
  margin-right: 1rem;
}

a.cancel {
  background-color: $transparent-two;
  border: .2rem solid $red;
  border-radius: 6.6rem;
  color: $red;
  width: 12rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.2;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
      background-color: $red;
      color: $light;
  }
}

a.confirm {
  background-color: $transparent-two;
  border: .2rem solid $green;
  border-radius: 6.6rem;
  color: $green;
  width: 12rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.2;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
      background-color: $green;
      color: $light;
      border: none;
  }
}

.tab-btn {
  background-color: $transparent-two;
  border: none;
  color: $light;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: $transparent-two;
    color: $accent;
    border: none;
}
}

.action-btns {
  @include flexCol(center, center);
}
.edit-btn,.dl-btn {
  transition-duration: 0.4s;

  &:hover {
    color: $accent;
  }
}